body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Carrois Gothic', sans-serif;
    font-weight: 400;
    background: #222;

}

.intro__title {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Mako', sans-serif;
    color: #ccc;
    margin-top: 1px;
    margin-bottom: 1px;
}

.header {
    background: #111;
}
.container__header {
    width: 1180px;
    height: 16.8vh;
    margin: 0 auto;
    justify-content: space-between;
}

.nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.mnu__top {
    display: flex;
    margin-top: 4.5vh;
}

.logo {
    margin-top: 1.8vh;
}
a {
    color: #ccc;
    text-decoration: none;
    font-family: 'PT Sans Caption', sans-serif;
    letter-spacing: 0.03em;
}

.a__1 {
    transition: 0.2s;
}

.a__2 {
    margin-left: 100px;
    transition: 0.2s;
}

.a__1:hover {
    color: #878787;
}

.a__2:hover {
    color: #878787;
}

.intro {
    margin: 0 auto;
    width: 635px;
}

.container {
    margin-top: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.image {
    height: 300px;
    width: 300px;
    background: #222;
    border: 2px solid;
    border-color: #111;
    border-style: dashed;
}

.search__btn {
    margin: auto;
    margin-top: 135px;
}

.btn__1 {
    background: #111;
    height: 18px;
    width: 110px;
    padding-left: 1.2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 3vh;
    color: #ccc;
}

.container__2 {
    width: 400px;
    margin: 0 auto;
}

.btns {
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn__2 {
    height: 20px;
    padding: 2.2vh 2.5vh;
    background: #ccc;
    border-radius: 20px;
    transition: .2s linear;
    color: #222;
}

.btn__2:hover {
    background: #878787;
}