body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Carrois Gothic', sans-serif;
    font-weight: 400;
    background: #222;

}

.header {
    background: #111;
}
.container__header {
    width: 1180px;
    height: 16.8vh;
    margin: 0 auto;
    justify-content: space-between;
}

.nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.mnu__top {
    display: flex;
    margin-top: 4.5vh;
}

.logo {
    margin-top: 1.8vh;
}

a {
    color: #ccc;
    text-decoration: none;
    font-family: 'PT Sans Caption', sans-serif;
    letter-spacing: 0.03em;
}

.a__1 {
    transition: 0.2s;
}

.a__2 {
    margin-left: 100px;
    transition: 0.2s;
}

.a__1:hover {
    color: #878787;
}

.a__2:hover {
    color: #878787;
}

.intro {
    margin: 0 auto;
    width: 600px;
    text-align: center;
}

.intro__title__block {
    margin-top: 8vh;
    margin-bottom: 7vh;
}

.intro__title {
    margin: 0 auto;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Mako', sans-serif;
    color: #ccc;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    height: 250px;
    width: 250px;
    background: #222;
    border: 2px solid;
    border-color: #111;
    border-style: dashed;
}

.expected__answer {
    margin: 0 auto;
    margin-top: 10px;
    color: #ccc;
}



.btn {
    width: 170px;
    margin: 0 auto;
    margin-top: 10vh;
}

.btn__1 {
    padding: 2.2vh 2.5vh;
    background: #ccc;
    border-radius: 20px;
    transition: .2s linear;
    color: #222;
}

.btn__1:hover {
    background: #878787;
}
