body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Carrois Gothic', sans-serif;
    font-weight: 400;
    background: #222;

}

.header {
    background: #111;
}
.container__header {
    width: 1180px;
    height: 16.8vh;
    margin: 0 auto;
    justify-content: space-between;
}

.nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.mnu__top {
    display: flex;
    margin-top: 4.5vh;
}

.logo {
    margin-top: 1.8vh;
}
a {
    color: #ccc;
    text-decoration: none;
    font-family: 'PT Sans Caption', sans-serif;
    letter-spacing: 0.03em;
}

.a__1 {
    transform: 5s;
}

.a__2 {
    margin-left: 100px;
    transform: 5s;
}

.a__1:hover {
    color: #878787;
}

.a__2:hover {
    color: #878787;
}


.intro {
    margin: 0 auto;
    width: 700px;
}

h1 {
    font-weight: 400;
    color: #ccc;
}

.intro__title {
    margin-top: 9vh;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Mako', sans-serif;
    color: #ccc;
    line-height: 1.15em;
}

.container {
    margin-top: 2vh;
    display: flex;
}

p {
    color: #ccc;
    font-size: 16px;
    line-height: 1.35em;
    width: 600px;
}

.btn {
    margin-top: 8vh;
    line-height: 5em;
}

.btn__1 {
    color: #111;
    padding: 2.2vh 2.5vh;
    background: #ccc;
    border-radius: 20px;
    transition: .2s linear;
}

.btn__1:hover {
    background: #878787;
}

.btn__2 {
    color: #111;
    padding: 2.2vh 2.5vh;
    background: #ccc;
    border-radius: 20px;
    transition: .2s linear;
}

.btn__2:hover {
    background: #878787
}