{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href='{{ url_for("static", filename="css/help.css") }}'>

<div class="intro">
    <div class="intro__title">Состязание против ИИ</div>
    <div class="intro__text">В нашей мини игре вы сможете посоревноваться с ИИ в классификации дорожных знаков. В начале
        игры вам будет предложен фрагмент фотографии дорожного знака. У вас также будет возможность сделать
        предположение о том, что за знак расположен на картинке по этому фрагменту. Вместе с вами, распознавать знак по
        известной его части будет и наша нейросеть. Каждый ход будет открываться новый фрагмент знака, пока знак не
        откроется полностью. У кого первее получится распознать знак, тот и одержит победу.
    </div>
    <div class="btn">
        <a class="btn__1" href="../mortal_with_ai">Бросить вызов ИИ</a>
    </div>
</div>

{% endblock %}
