{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href='{{ url_for("static", filename="css/style.css") }}'>

<div class="intro">
    <div class="intro__title">Классификатор <br>дорожных знаков</div>
    <div class="container">
        <p class="main__text">Это продуктовое решение команды Acuracy1 <br>
            На этом сайте можно сразиться с нашей <br>
            нейронной сетью в классификации дорожных знаков </p>
        <div class="btn">
            <a class="btn__1" href="../help">Сразиться с нашим ИИ</a>
            <a class="btn__2" href="../test_ai">Классифицировать дорожный знак</a>
        </div>
    </div>
</div>

{% endblock %}