{% extends "base.html" %}

{% block content %}

<div class="intro">
    <div class="intro__title">Lorem ipsum <br>dolor sit amet</div>
    <div class="container">
        <div class="main__text">Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit, sed do eiusmod tempor<br>incididunt
            ut labore et dolore magna aliqua. <br>Ut enim ad minim veniam, quis nostrud <br>exercitation ullamco laboris
            nisi ut aliquip ex <br>ea commodo consequat. Duis aute irure <br>dolor in reprehenderit in voluptate velit
            esse <br>cillum dolore eu fugiat nulla pariatur. <br>Excepteur sint occaecat cupidatat non <br>proident,
            sunt in culpa qui officia deserunt <br>mollit anim id est laborum.
        </div>
        <div class="btn">
            <a class="btn__1" href="mortal_with_ai">Сразиться с нашим ИИ</a>
            <a class="btn__2" href="test_ai">Классифицировать дорожный знак</a>
        </div>
    </div>
</div>

{% endblock %}