{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href='{{ url_for("static", filename="css/for_mortal.css") }}'>
<div class="intro">
    <form method="post" enctype="multipart/form-data" id="uploadImages" class="login_form">
        <div class="container">
            <img class="image" src="{{ url_for('static', filename=image)}}">
            <div class="search__btn">
                <a class="btn__1" href="#">Выбрать знак...</a>
            </div>
        </div>
        <div class="container__2">
            <div class="btns">
                <button class="btn btn-primary btn__2" type="submit">Подтвердить выбор</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
